/* Iphone X */

@media only screen and (min-width: 375px) and (max-width: 812px) {
    #intro h3 {
        font-size: 6vh;
    }
    .teams .titles .name {
        /* color: #f09f01; */
        font-size: 17px;
    }
    #intro h1 {
        font-size: 4em;
    }
    .mn-dt .mn-cnt {
        height: 15vh;
    }
    .details {
        height: auto;
    }
    .team-details .team-img {
        width: 198px;
        height: 300px;
    }
    .details,
    .team-details {
        height: 450px;
    }
    .team-details .titles {
        right: 15px;
    }
    .bottom-line {
        top: 375px;
    }
    .team-descp {
        font-size: 2vh;
        background: none;
    }
    .switch-list li a {
        font-size: 2vh;
    }
    .teams .titles .desig {
        font-size: 1.5vh;
    }
    .mn-itms .mn {
        margin-right: 14%;
    }
    .mn-itms {
        bottom: 8%;
    }
    .op3 {
        bottom: 65px;
    }
    .op4 {
        bottom: 84px;
    }
    .op5 {
        bottom: 154px;
    }
    #newsCarousel {
        display: none;
    }
    #inmble {
        display: block;
    }
    .ns-lst {
        margin-bottom: 24px;
    }
    .ml-10 {
        margin-left: 0;
    }
    .address-block {
        margin-bottom: 40px;
    }
    #contact-us {
        background-size: 130%;
    }
}


/* Iphone 6,7,8 plus */

@media only screen and (min-width: 414px) and (max-width: 736px) {
    #newsCarousel {
        display: none;
    }
    #inmble {
        display: block;
    }
    .mn-wp {
        height: 316px;
    }
    .mn-wp {
        height: 316px;
    }
    #contact-us {
        background-size: 130%;
    }
}


/* Iphone 6,7,8  */

@media only screen and (min-width: 375px) and (max-width: 667px) {
    #newsCarousel {
        display: none;
    }
    #inmble {
        display: block;
    }
    .details {
        height: auto;
    }
    .mn-dt .mn-cnt {
        height: 15vh;
    }
    .lst-wrp {
        overflow: scroll;
    }
    .team-details .team-img {}
    .team-details .titles {
        right: 15px;
    }
    .bottom-line {
        top: 320px;
    }
    .team-descp {
        font-size: 2vh;
        background: none;
    }
    .ml-10 {
        margin-left: 0;
    }
    .address-block {
        margin-bottom: 40px;
    }
    .ns-lst {
        margin-bottom: 24px;
    }
    #contact-us {
        background-size: 130%;
    }
}


/* Ipad */

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .footer-list .foot-menu li {
        margin-right: 6rem !important;
    }
    #intro h1 {
        font-size: 14vh;
    }
    .hm-img img {
        width: 55vh;
    }
    #slide-img .text-slide1 .headtxt {
        font-size: 6vh;
        position: absolute;
        right: 0;
        top: 4vh;
        width: 110vh;
        text-align: left;
    }
    #slide-img .bio {
        bottom: 55vh;
    }
    .left-img .bio {
        right: 13vh;
    }
}


/* portrait */

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .sdbr {
        display: block;
    }
    #sidebarCollapse {
        display: none;
    }
    .nav-item .sub-menu {
        display: block;
        padding-left: 15px;
        background: #eee;
    }
    .nav-item:hover .sub-menu {
        position: static;
        width: 100%;
    }
    #intro h3 {
        font-size: 6vh;
    }
    #intro h1 {
        font-size: 11vh;
    }
    #slide-img .text-slide1 .headtxt {
        font-size: 5vh;
        position: absolute;
        left: 0;
        top: 4vh;
        width: 132vh;
        text-align: left;
    }
    #slide-img .text-slide1 .headtxt {
        font-size: 4.5vh;
        position: absolute;
        left: 0;
        top: 4vh;
        width: 71vh;
        text-align: left;
    }
    #slide-img .bio {
        bottom: 65vh;
    }
    .left-img .bio {
        right: 2vh;
    }
    .bio .name {
        font-size: 4vh;
    }
    .bio p {
        font-size: 2vh;
    }
    .right-img .bio {
        left: 2vh;
    }
    .footer-list .foot-menu li {
        margin-right: 3rem !important;
    }
    .hm-img img {
        width: 45vh;
    }
    .static-footer {
        padding-bottom: 0 !important;
    }
    .teams .titles .desig {
        font-size: 13px;
    }
    .teams .titles .name {
        font-size: 15px;
    }
    .team-details .team-img {
        width: 224px;
        position: absolute;
        bottom: 0;
        z-index: 9;
        height: 340px;
    }
    .team-item {
        padding: 1vh;
    }
    .indust-flpg {
        display: block;
    }
    .main-indust {
        display: none;
    }
    .indst-1 {
        background: #f5f5f5 !important;
    }
    .indst-2 {
        /* padding: 20px; */
    }
    .mn-dt .mn-hd {
        left: 0;
    }
    .ind-lbls ul li {
        display: block;
        margin: 31px 221px;
        text-align: left;
    }
    .ind-lbls .icn {
        width: 5vh;
    }
    .ind-lbls .lbl-txt {
        font-size: 30px;
    }
    .mn-itms {
        left: 80px;
        bottom: 0px;
    }
    .mn-itms .mn {
        height: 30px;
        margin-right: 104px;
    }
    /* .op1 {
        bottom: -34px;
    } */
    .op2 {
        bottom: 24px;
        left: 23px;
    }
    .op3 {
        bottom: 82px;
        left: 41px;
    }
    .op4 {
        bottom: 149px;
        left: 63px;
    }
    .op5 {
        bottom: 235px;
        left: 73px;
    }
    .mn-nme {
        top: -66px;
        left: -34px;
        font-size: 25px;
        font-weight: normal;
        display: block;
        width: 70px;
        text-align: center;
    }
    .mn-wp {
        background: url('../images/images/industrialize-b.png') 0 bottom no-repeat;
        background-size: cover;
        position: static;
        height: 450px;
        width: 100%;
    }
    .indst-data-wrap {
        padding: 20px;
    }
    .art-item .artle {
        height: 140px;
        overflow: auto;
    }
    #newsCarousel {
        display: none;
    }
    #inmble {
        display: block;
    }
    #contact-us {
        height: calc(100vh - 271px);
    }
    .ml-10 {
        margin-left: 0;
    }
    #contact-us {
        background-size: 130%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .container-fluid {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .footer-list .patent-txt {
        margin-left: 15px;
    }
}


/* @media screen and (min-width: 992px) {
    #intro h3 {
        font-size: 7vh;
    }
    #intro h1 {
        font-size: 11vh;
    }
    #slide-img .text-slide1 .headtxt {}
    .hm-img img {
        width: 50vh;
    }
    #slide-img .text-slide1 .headtxt {
        font-size: 9vh;
        position: absolute;
        right: 0;
        top: 4vh;
        width: 108vh;
    }
    .left-img .bio {
        right: 3vw;
    }
    .right-img .bio {
        right: 0;
    }
} */

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    #intro h3 {
        font-size: 7vh;
    }
    #intro h1 {
        font-size: 11vh;
    }
    #slide-img .text-slide1 .headtxt {}
    .hm-img img {
        width: 50vh;
    }
    #slide-img .text-slide1 .headtxt {
        font-size: 6vh;
        position: absolute;
        right: 0;
        top: 4vh;
        width: 108vh;
    }
    .left-img .bio {
        right: 3vw;
    }
    .right-img .bio {
        right: 0;
    }
}